*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
}
.main-text {
    text-align: justify;
    margin-bottom: 10px;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

h1,h2{
    color: green;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 20px;
    position: relative;
}
.blog-post img{
    height: 150px;
    width: auto;
}

.other-post {
    width: 25%;
    float: left;
}

.author {
    font-size: 20px;
    border-top: 5px solid #4a4a4a;
    padding-top: 10px;
}
.author img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}
.author-info{
    float: left;
    margin-left: 10px;
    margin-top: 40px;
    font-size: 22px;
}

.other {
    margin-bottom: 40px;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}
